body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#main-heading {
  padding: 10px;
  font-weight: 200;
  text-align: center;
  font-size: 3rem;
}

#tiger-heading {
  color: gold;
  font-weight: 600;
  font-size: 3rem;
  font-style: italic;
}